@tailwind base;
@tailwind components;
@tailwind utilities;

.animate-fadein {
  animation-duration: 0.3s;
  animation-name: animate-fadein;
  animation-delay: 0s;
  animation-fill-mode: backwards;
}

.animate-drop {
    animation-duration: 0.5s;
    animation-name: animate-drop;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
  }

.animate-rise {
    animation-duration: 0.5s;
    animation-name: animate-rise;
    animation-delay: 0.5s;
    animation-fill-mode: backwards;
}

.inline-bg {
    @apply bg-black bg-opacity-70 box-decoration-clone px-2 rounded-md
}

.bg-dark {
    @apply bg-gray-900 bg-opacity-70
}

@keyframes animate-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animate-drop {
    0% { opacity: 0; transform: translateY(-400px); }
    100% { opacity: 1; transform: translateY(0); }
}

@keyframes animate-rise {
    0% { opacity: 0; transform: translateY(40px); }
    100% { opacity: 1; transform: translateY(0); }
}


@keyframes animate-fadein {
    0% { opacity: 0;}
   100% {opacity: 1;}
}
